<section class="grid grid-cols-1 md:grid-cols-2">
  <div class="py-10 container">
    <div>
      <div class="border-b-2 border-b-main pb-2">
        <h3 class="text-2xl text-main">إنشاء حساب جديد</h3>
      </div>

      <div class="pt-10">
        <form
          [formGroup]="signupForm"
          (ngSubmit)="signup()"
          class="flex flex-col gap-10 mb-5"
        >
          <div>
            <input
              type="text"
              id="name"
              name="name"
              formControlName="name"
              placeholder="الإسم"
            />
            <div class="text-rose-700">
              @if (name.invalid && (name.dirty || name.touched)) { @if
              (name.errors?.['required']) {
              <p>هذا الحقل مطلوب.</p>
              } }
            </div>
          </div>

          <div>
            <input
              type="text"
              id="email"
              name="email"
              formControlName="email"
              placeholder="البريد الإلكتروني"
            />
            <div class="text-rose-700">
              @if (email.invalid && (email.dirty || email.touched)) { @if
              (email.errors?.['required']) {
              <p>هذا الحقل مطلوب.</p>
              } @else if (email.errors?.['email']) {
              <p>ادخل بريد الكتروني صالح.</p>
              } }
            </div>
          </div>
          <div>
            <input
              id="email_confirm"
              name="email_confirm"
              placeholder="تأكيد البريد الإلكتروني"
              formControlName="email_confirm"
            />
            <div
              *ngIf="
                email_confirm.invalid &&
                (email_confirm.dirty || email_confirm.touched)
              "
              class="w-100 text-rose-700 mt-1"
            >
              <p *ngIf="email_confirm.hasError('email_mismatch')">
                البريد الالكتروني غير متطابق
              </p>
              <p *ngIf="email_confirm.hasError('required')">
                ادخل البريد الإلكتروني مرة أخرى للتأكيد
              </p>
            </div>
          </div>
          <div>
            <input
              type="password"
              id="password"
              name="password"
              formControlName="password"
              placeholder="كلمة المرور"
            />
            <div class="text-rose-700">
              @if (password.invalid && (password.dirty || password.touched)) {
              @if (password.errors?.['required']) {
              <p>ادخل كلمة المرور</p>
              } @else if (password.errors?.['minlength']) {
              <p>ادخل كلمة مرور قوية</p>
              } }
            </div>
          </div>
          <div>
            <input
              id="password"
              name="password_confirm"
              type="password"
              placeholder="تأكيد كلمة المرور"
              formControlName="password_confirm"
            />
            <div
              *ngIf="
                password_confirm.invalid &&
                (password_confirm.dirty || password_confirm.touched)
              "
              class="w-100 text-rose-700 mt-1"
            >
              <p *ngIf="password_confirm.errors?.['required']">
                ادخل كلمة المرور مرة أخرى للتأكيد
              </p>
              <p *ngIf="password_confirm.errors?.['password_mismatch']">
                كلمة المرور غير متطابقة
              </p>
            </div>
          </div>

          <button
            [disabled]="!signupForm.valid"
            class="bg-main text-white w-full py-2"
          >
            التسجيل
          </button>
        </form>
        <p class="text-center mb-5">
          لديك حساب بالفعل؟
          <a routerLink="/accounts/login" class="text-main underline"
            >سجل دخولك الآن</a
          >
        </p>
        <div class="flex justify-center">
          <a routerLink="/home">
            <p class="text-center text-main underline">
              الرجوع للصفحة الرئيسية
            </p>
          </a>
        </div>
        @if (errorMessage) {
        <div
          class="bg-rose-700 text-white text-center mt-5 rounded-lg w-full py-2"
        >
          <p>
            {{ errorMessage }}
          </p>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="hidden md:block relative min-h-screen w-full">
    <img ngSrc="assets/images/login.png" alt="Login" fill />
  </div>
</section>
