<section class="grid grid-cols-1 md:grid-cols-3 gap-10">
  <div
    class="md:col-span-2 ring-1 ring-slate-100 shadow-lg rounded-lg p-5 bg-white"
  >
    <h3 class="text-2xl mb-3">نبذة عامة عن مدينة {{ cityName }}</h3>
    <p class="text-slate-500">{{ aboutCity }}</p>
  </div>
  <!-- Weather -->
  <div class="ring-1 ring-slate-100 shadow-lg rounded-lg p-5 bg-white h-fit">
    <div class="rounded overflow-hidden flex justify-between items-center">
      <img [src]="weatherIcon" alt="Weather icon" />
      <div class=" ">
        <p>{{ weatherText }}</p>
        <p>℃ {{ temprature }}</p>
      </div>
    </div>
    <div class="text-slate-500 flex flex-col">
      <p>
        <fa-icon [icon]="calendarIcon" class="text-main pl-3"></fa-icon>
        {{ datetime[0] }}
      </p>
      <p>
        <fa-icon [icon]="clockIcon" class="text-main pl-3"></fa-icon
        >{{ datetime[1] }}
      </p>
      <p>
        <fa-icon [icon]="windIcon" class="text-main pl-3"></fa-icon
        >{{ windKPH }} كم / الساعة
      </p>
    </div>
  </div>
</section>
