nav {
  height: 60px;
  color: white;
}

aside {
  color: white;
  width: 0;
  overflow: hidden;
  transition: 0.3s all;
}
.open-sidebar {
  width: 100%;
}
.open-cities-menu {
  height: 300px;
}
.open-user-menu {
  height: 150px;
  width: max-content;
}
.open-notification-menu {
  width: 300px;
  height: 700px;
}
.active {
  text-decoration: underline;
  text-underline-offset: 5px;
}
