swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: #7eb38b;
}

.active {
  background-color: #7eb38b;
  color: white;
  padding: 5px 20px !important;
  border-radius: 20px;
}
